$font: "Rubik", sans-serif;

$color-primary: #ed9902;
$color-white: #ffffff;
$color-body: #1e1e1e;

$transition: 0.2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
