.menu-section {
  padding: 60px 0;
}

.menu-section__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-section__title {
  text-align: center;
  font-size: 2.5rem;
  color: #D5CEA3;
  margin-bottom: 40px;
}

.menu-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.menu-item {
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  // border-radius: 15px;
  backdrop-filter: blur(5px);
}

.menu-item:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.15);
}

.menu-item__image {
  width: 200px;
    height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  // border-radius: 10px;
}

.menu-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.menu-item:hover .menu-item__image img {
  transform: scale(1.1);
}

.menu-item__title {
  font-size: 1.2rem;
  color: #D5CEA3;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .menu-section {
    padding: 0;
  }
  .menu-section__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .menu-section__grid {
    grid-template-columns: 1fr;
  }
}

.menu-section__more {
  display: none;
}
@media (max-width: 768px) {
  .menu-section__more {
    display: block;
  }
  .menu-item:nth-child(n+4) {
    display: none;
  }
  .menu-item.show {
    display: block;
  }
  .menu-section__more {
    text-align: center;
    margin: 30px 0	30px;
  }
  .menu-section__more-btn {
    background: #FBFADA;
    color: #12372A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  .menu-section__more-btn:hover {
    background: #12372A;
    color: #FBFADA;
  }
}